{% extends "base.html" %}

{% block title %}Liberty Global - Asset and Configuration Management - Profile detail{% endblock %}

{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">Wandl</li>
  <li class="active"><a href="#">Dashboard</a></li>
  <li class="nav-header">Profiles</li>
	{% if profiles_list %}
	    <ul>
	    	{% for profile in profiles_list %}
			<li><a href="/profiles/{{ profile.unique_id }}/">{{ profile.unique_id }}</a></li>
	 	{% endfor %}
		</ul>
	{% else %}
		<p>No profiles are available.</p>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
      <li><a href="/profiles/">Home</a> <span class="divider">/</span></li>
      <li><a href="/profiles/{{ profile.unique_id }}/">{{ profile.realm }}</a> <span class="divider">/</span></li>
      <li class="active">{{ profile.name }}</li>
      </ul>
      <div class="page-header">
      <h1>{{ profile.realm }} | {{ profile.name }}</h1>
      </div><!--/page-header-->
      </div><!--/span-->
    </div><!--/row-->

    <div class="row-fluid">
      <div class="span6">
      <div class="well">
      <h2>Summary</h2>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ profile.realm }}</dd>
        <dt>Country</dt>
        <dd>EU</dd>
        <dt>Last Run</dt>
        {% with task=profile.task_set.latest %}
        <dd>{{ task.start }}</dd>
        <dt>Last Status</dt>
        {% if task.status == 'Success' %}
          <dd><span class="label label-success">{{ task.status }}</span></dd>
        {% else %}
          <dd><span class="label label-important">{{ task.status }}</span></dd>
        {% endif %}
        {% endwith %}
        <dt>Schedule</dt>
        <dd>Daily</dd>
        <dt>Duration</dt>
        <dd>2 hours, 29 minutes</dd>
        <dt>Number of runs</dt>
        <dd>312</dd>
      </dl>
      <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Range</th>
          <th>Number of devices</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>212.2.3.1/24</td>
          <td>197</td>
        </tr>
        <tr>
          <td>2.1.1.1/24</td>
          <td>17</td>
        </tr>
      </table>
      </div><!--/well-->
      </div><!--/span-->
      <div class="span6">
      <div class="well">
      <h2>Statistics</h2>
      <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Metric</th>
          <th>Standard Deviation</th>
          <th>Mean</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total Collect</td>
          <td>0.05</td>
          <td>2408</td>
        </tr>
        <tr>
          <td>ICMP Fail</td>
          <td>0.12</td>
          <td>25</td>
        </tr>
        <tr>
          <td>SNMP Fail</td>
          <td>5.12</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    </div><!--/well-->
    </div><!--/span-->
    </div><!--/row-->

{% if profile %}
	{% if task_list %}
	<div class="row-fluid"> 
	    	<div class="span12">
			<div class="well">
			<h2>Tasks</h2>
			<table class="table table-striped table-bordered">
			<thead>
			<tr>
			<th>Profile</th>
			<th>UUID</th>
			<th>Polling server</th>
			<th>Start</th>
			<th>Finished</th>
			<th>Duration</th>
			<th>Status</th>
			</tr>
			</thead>
			<tbody>
	    {% for task in task_list %}
			<tr>
			<td>{{ profile.name }}</td>
			<td><a href="/profiles/{{ profile.unique_id }}/{{ task.uuid }}/">{{ task.uuid }}</a></td>
			<td>{{ task.polling_server }}</td>
			<td>{{ task.start }}</td>
			<td>{{ task.end }}</td>
			<td>{{ task.duration }}</td>
			{% if task.status == 'Success' %}
				<td><span class="label label-success">{{ task.status }}</span></td>
			{% elif task.status == 'Failed' %}
				<td><span class="label label-important">{{ task.status }}</span></td>
			{% else %}
				<td><span class="label label-warning">{{ task.status }}</span></td>
			{% endif %}
			</tr>
	    {% endfor %}
		</tbody>
		</table>
	{% else %}
		<p>No tasks available.</p>
	{% endif %}
{% else %}
    <p>No profile is available.</p>
{% endif %}
</div><!--/span-->
</div><!--/span-->
</div><!--/row-->        
{% endblock %}
