{% extends "base.html" %}

{% block title %}Liberty Global - Asset and Configuration Management - Profile detail{% endblock %}

{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">Wandl</li>
  <li class="active"><a href="#">Dashboard</a></li>
  <li class="nav-header">Profiles</li>
	{% if profiles_list %}
	    <ul>
	    	{% for profile in profiles_list %}
			<li><a href="/profiles/{{ profile.realm }}/{{ profile.name }}/">{{ profile.unique_id }}</a></li>
	 	{% endfor %}
		</ul>
	{% else %}
		<p>No profiles are available.</p>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
{% load tasks_extra %}
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
      <li><a href="/profiles/">Home</a> <span class="divider">/</span></li>
      <li class="active">{{ profile.unique_id }}</li>
      </ul>
      <div class="page-header">
      <h1>{{ profile.realm }} | {{ profile.name }}</h1>
      </div><!--/page-header-->
      </div><!--/span-->
    </div><!--/row-->

    <div class="row-fluid">
      <div class="span6">
      <div class="well">
      <h2>Summary</h2>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ profile.name }}</dd>
        <dt>Country</dt>
        <dd>{{ profile.realm }}</dd>
        {% with task=profile.task_set.latest %}
        <dt>Polling Server</dt>
        <dd>{{ task.polling_server }}</dd>
        <dt>Last Run</dt>
        <dd>{{ task.start|date:"m/d/Y H:i:s" }}</dd>
        <dt>Last Status</dt>
        {% if task.status == 'Success' %}
          <dd><span class="label label-success">{{ task.status }}</span></dd>
        {% else %}
          <dd><span class="label label-important">{{ task.status }}</span></dd>
        {% endif %}
        <dt>Duration</dt>
        <dd>{{ task.duration }}</dd>
        <dt>Schedule</dt>
        <dd>Unknown</dd>
        <dt>Number of runs</dt>
        <dd>{{ profile.task_set.count }}</dd>
        {% endwith %}
      </dl>
      <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Range</th>
          <th>Number of devices</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>212.2.3.1/24</td>
          <td>197</td>
        </tr>
        <tr>
          <td>2.1.1.1/24</td>
          <td>17</td>
        </tr>
      </table>
      </div><!--/well-->
      </div><!--/span-->
      <div class="span6">
      <div class="well">
      <h2>Statistics</h2>
      <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Metric</th>
          <th>Mean</th>
          <th>Standard Deviation</th>
        </tr>
      </thead>
      <tbody>
        {% with pstats=profile|get_profile_stats %}
        {% for k, v in pstats.iteritems %}
        <tr>
          <td>{{ k }}</td>
          <td><span class="label label-info">{{ v.mean|floatformat:2 }}</span></td>
          <td><span class="label label-info">{{ v.std|floatformat:2 }}</span></td>
        </tr>
        {% endfor %}
        {% endwith %}
      </tbody>
    </table>
    </div><!--/well-->
    </div><!--/span-->
    </div><!--/row-->

{% if profile %}
	{% if task_list %}
  {% with pstats=profile|get_profile_stats %}
	<div class="row-fluid"> 
	    	<div class="span12">
			<div class="well">
			<h2>Tasks</h2>
			<table class="table table-striped table-bordered">
			<thead>
			<tr>
			<th>UUID</th>
			<th>Start</th>
			<th>Finished</th>
			<th>Duration</th>
      <th>Total Collected</th>
      <th>Accessed</th>
      <th>SNMP Fail</th>
      <th>CLI Fail</th>
			<th>Status</th>
			</tr>
			</thead>
			<tbody>
	    {% for task in task_list %}
			<tr>
			<td><a href="/profiles/{{ profile.realm }}/{{ profile.name }}/{{ task.uuid }}/">{{ task.uuid }}</a></td>
			<td>{{ task.start|date:"m/d/Y H:i:s" }}</td>
			<td>{{ task.end|date:"m/d/Y H:i:s" }}</td>
      <td>{{ task.duration }}</td>
      {% with metric_list=task.metric_set.all %}
        {% with m=pstats|get_profile_metric:"Total Collected" %}
        {% if not metric_list|get_metric:"Total Collected" %}
          <td><span class="label">Unknown</span></td>
        {% elif metric_list|get_metric:"Total Collected"|add:m.std < m.mean %}
          <td><span class="label label-warning">{{ metric_list|get_metric:"Total Collected"|default:"0" }}</span></td>
        {% else %}
          <td><span class="label label-success">{{ metric_list|get_metric:"Total Collected"|default:"0" }}</span></td>
        {% endif %}
        {% endwith %}
        {% with m=pstats|get_profile_metric:"Accessed" %}
        {% if not metric_list|get_metric:"Accessed" %}
          <td><span class="label">Unknown</span></td>
        {% elif metric_list|get_metric:"Accessed"|add:m.std < m.mean %}
          <td><span class="label label-warning">{{ metric_list|get_metric:"Accessed"|default:"0" }}</span></td>
        {% else %}     
          <td><span class="label label-success">{{ metric_list|get_metric:"Accessed"|default:"0" }}</span></td>
        {% endif %}
        {% endwith %}
        {% with m=pstats|get_profile_metric:"SNMP Fail" %}
        {% if not metric_list|get_metric:"SNMP Fail" %}
          <td><span class="label">Unknown</span></td>
        {% elif m.mean|add:m.std < metric_list|get_metric:"SNMP Fail" %}
          <td><span class="label label-warning">{{ metric_list|get_metric:"SNMP Fail"|default:"0" }}</span></td>
        {% else %}     
          <td><span class="label label-success">{{ metric_list|get_metric:"SNMP Fail"|default:"0" }}</span></td>
        {% endif %}
        {% endwith %}
        {% with m=pstats|get_profile_metric:"Failed logins" %}
        {% if not metric_list|get_metric:"Failed logins" %}
          <td><span class="label">Unknown</span></td>
        {% elif m.mean|add:m.std < metric_list|get_metric:"Failed logins" %}
          <td><span class="label label-warning">{{ metric_list|get_metric:"Failed logins"|default:"0" }}</span></td>
        {% else %}     
          <td><span class="label label-info">{{ metric_list|get_metric:"Failed logins"|default:"0" }}</span></td>
        {% endif %}
        {% endwith %}
			{% if task.status == 'Success' %}
				<td><span class="label label-success">{{ task.status }}</span></td>
			{% elif task.status == 'Failed' %}
				<td><span class="label label-important">{{ task.status }}</span></td>
			{% else %}
				<td><span class="label label-warning">{{ task.status }}</span></td>
			{% endif %}
			</tr>
      {% endwith %}
	    {% endfor %}
		</tbody>
		</table>
  {% endwith %}
	{% else %}
		<p>No tasks available.</p>
	{% endif %}
{% else %}
    <p>No profile is available.</p>
{% endif %}
</div><!--/span-->
</div><!--/span-->
</div><!--/row-->        
{% endblock %}